In [1]:
#classes

In [15]:
class Musician():
    
    job = "Musician"
    
    def __init__(self,name,age,instrument):
        self.name = name
        self.age = age
        self.instrument = instrument
        
    def sing(self):
        print("sing sing sing")
    
    def __len__(self):
        return self.age
    
    def __str__(self):
        return self.name

In [5]:
james = Musician("James",50,"Guitar") #instance

In [7]:
james.age

50

In [9]:
james.name

'James'

In [11]:
james.job

'Musician'

In [19]:
james.sing()

sing sing sing

In [21]:
len(james)

50

In [23]:
print(james)

James

In [25]:
#inheritance

In [27]:
class Class1():
    
    def __init__(self):
        print("class 1 created")
    
    def method1(self):
        print("method 1")
        
    def method2(self):
        print("method 2")

In [29]:
class1Instance = Class1()

class 1 created

In [31]:
class1Instance.method1()

method 1

In [35]:
class Class2(Class1):
    def __init__(self):
        Class1.__init__(self)
        print("class 2 created")

In [37]:
class2Instance = Class2()

class 1 created
class 2 created

In [39]:
class2Instance.method1()

method 1

In [41]:
#polymorphism

In [43]:
class Apple():
    
    def __init__(self,name):
        self.name = name
    
    def information(self):
        return self.name + " 100 calories"

In [45]:
class Banana():
    
    def __init__(self,name):
        self.name = name
        
    def information(self):
        return self.name + " 200 calories"

In [47]:
banana = Banana("banana")

In [49]:
apple = Apple("apple")

In [51]:
fruitList = [banana,apple]

In [54]:
for fruit in fruitList:
    print(fruit.information())

banana 200 calories
apple 100 calories

In [56]:
#scope

In [58]:
number = 10

In [60]:
print(number)

10

In [62]:
number = 10
def multiply(num1):
    number = 5
    return num1 * number

In [64]:
multiply(10)

50

In [68]:
print(number)

10

In [70]:
number = 10 #global
def multiply(num1):
    number = 5
    return num1 * number
print(multiply(20))
print(number)

100
10

In [72]:
#legb -> l-> local, e-> enclosing, g-> global, b->built-in

In [76]:
#global
myName = "pervin"

def myFunction():
    #enclosing
    myName = "James"
    
    def myFunction2():
        #local
        myName = "Lars"
        print(myName)
    
    myFunction2()

In [78]:
myFunction()

Lars

In [88]:
y = 10

def newFunction():
    global y
    y = 5
    print(y)

In [90]:
newFunction()

5

In [92]:
print(y)

5